<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Page</title>
    <!-- Link css file -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image:url('{% static "img/bodybg/bg1.png" %}')">

    <header class="fixed-top">
        <div class="bg-light">
            <div class="container py-3">
                <div class="row">
                    <a class="h4 text-center" href="https://zuri.team/" target="_blank"><img src="{% static 'img/hng.png'%}" class="img-fluid" style="height:50px;"></a>
                    <!-- <a class="ms-auto text-primary text-center col-5 col-md-2 btn border justify-content-center" href="#">Edit Resume</a> -->
                </div> 
            </div>
        </div>
    
    </header>

    <div class="container mb-5" style="margin-top: 100px;">
        <div class="row col-md-10 mx-auto">
            <div class="form-group">
            <h1 class="text-dark">Azeez Aremu</h1>
            <h3 class="text-muted">Software  Developer</h3>
            <p><strong>An independent and self-motivated graduate with proven and tested skills in front end development and back end development</strong></p>
            
            <hr class="border-5" style="font-size:xx-large">
            
            <div class="row text-md-center">
                <div class="form-group col-md-3">
                    <div class="form-label" style="color: rgb(66, 61, 61);"><strong><i class="fa fa-envelope me-3"></i>azeezaremu123@gmail.com</strong></div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-label" style="color: rgb(66, 61, 61);"><strong><i class="fa fa-mobile-phone me-3" style="font-size:24px"></i>+2348148313206</strong></div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-label" style="color: rgb(66, 61, 61);"><strong><i class="fa fa-map-marker me-3" style="font-size:24px"></i>Jigawa, Nigeria</strong></div>
                </div>

                <div class="form-group col-md-3">
                    <div class="form-label" style="color: rgb(66, 61, 61);"><strong><i class="fa fa-github me-2" style="font-size:24px"></i><a href="https://github.com/Ajibson" style="text-decoration:none">github.com/Ajibson</a></strong></div>
                </div>
            </div>
            <hr class="border-5" style="font-size:xx-large">
            <div class="row">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible text-center mt-3">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% for error in form.errors %}
            <div class="alert-danger alert-dismissible rounded  text-center my-4 py-2" role="alert">
                {{error}}
               
            </div>
            {% endfor%}
                <div class="col-md-6">
                    <h2 class="mb-3">Work Experience</h2>
                        <h5>Backend Developer</h5>
                        <div class="ms-3">
                            <h6><a href="https://myvtu.ng" style="text-decoration: none;">VTU Portal</a></h6>
                            <!-- <p class="font-italic">02/021- present</p> -->
                            <p>A website where any registered user can buy airtime and data</p>
                            <h6>Achievements/Tasks</h6>
                            <ul class="list-group list-unstyled"> 
                                <li class="list-item">- Built the website front end</li>
                                <li class="list-item">- Built the website back end</li>
                                <li class="list-item">- Handled the hosting</li>
                                <li class="list-item">- Integrated the payment gateway</li>
                                <li class="list-item">- Participates in the marketing startegies</li>
                            </ul>
                        </div>
                            <h5 class="mt-3">Backend Developer</h5>
                            <div class="ms-3">
                            <h6 ><a href="https://medic-apps.herokuapp.com/" style="text-decoration: none;">MedicAid App</a></h6>
                            <!-- <p class="font-italic">02/021- present</p> -->
                            <p>A website where any registered user can raise medical funds</p>
                            <h6>Achievements/Tasks</h6>
                            <ul class="list-group list-unstyled"> 
                                <li class="list-item">- Built the website sponsor back end</li>
                                <li class="list-item">- Handled the hosting</li>
                            </ul>
                            </div>
                    <h5 class="mt-3">Backend Developer</h5>
                    <div class="ms-3">
                    <h6 ><a href="https://medstreamr.herokuapp.com/" style="text-decoration: none;">Hospital Managment system</a></h6>
                    <!-- <p class="font-italic">Personal</p> -->
                    <p>A website where for managing hospital activities such as:
                        <ul class="list-inline"> 
                            <li class="list-inline-item">Register staffs</li>
                            <li class="list-inline-item">Regsiter Patients</li>
                            <li class="list-inline-item">Take patient complians</li>
                            <li class="list-inline-item">Doctor can give treatment to Patients</li>
                            <li class="list-inline-item">Doctor can track patient past medication</li>
                        </ul>
                    </p>
                    <h6>Achievements/Tasks</h6>
                    <ul class="list-group list-unstyled"> 
                        <li class="list-item">- Built the website back end</li>
                        <li class="list-item">- Handled the hosting</li>
                        
                    </ul>
                    </div>
                    <h5 class="mt-3">Full Stack Developer</h5>
                    <div class="ms-3">
                    <h6 ><a href="https://islamic-web.herokuapp.com/" style="text-decoration: none;">School Management system</a></h6>
                    <!-- <p class="font-italic">Personal</p> -->
                    <p>A school management system which
                        <ul class="list-inline"> 
                            <li class="list-inline-item">Register Students</li>
                            <li class="list-inline-item">Regsiter Teachers</li>
                            <li class="list-inline-item">Has studet portal for subject registration, result checking, send leave request etc</li>
                            <li class="list-inline-item">Admin panel</li>
                            <li class="list-inline-item">Counsellor portal to attend to people for counselling </li>
                        </ul>
                    </p>
                    <h6>Achievements/Tasks</h6>
                    <ul class="list-group list-unstyled"> 
                        <li class="list-item">- Built the website design and structure</li>
                        <li class="list-item">- Built the website back end</li>
                        <li class="list-item">- Built the website front end</li>
                        <li class="list-item">- Handled the hosting</li>
                        
                    </ul>
                    </div>
                    <h5 class="mt-3">Full Stack Developer</h5>
                    <div class="ms-3">
                    <h6 ><a href="https://next-to.herokuapp.com/" style="text-decoration: none;">Todo App</a></h6>
                    <!-- <p class="font-italic">Personal</p> -->
                    <p>A app to keep track of what you plan to do</p>
                    <h6>Achievements/Tasks</h6>
                    <ul class="list-group list-unstyled"> 
                        <li class="list-item">- Built the website design and structure</li>
                        <li class="list-item">- Built the website back end</li>
                        <li class="list-item">- Built the website front end</li>
                        <li class="list-item">- Handled the hosting</li>
                        
                    </ul>
                    </div>
                </div>
                <div class="col-md-6 my-4 my-md-0">
                    <!-- #Skills -->
                    <h2>Skills</h2>
                    <span class="bg-secondary text-white btn">Python</span>
                    <span class="bg-secondary text-white btn">Django</span>
                    <span class="bg-secondary text-white btn my-3 my-lg-0">Django Rest Framework</span>
                    <span class="bg-secondary text-white btn">HTML</span>
                    <span class="bg-secondary text-white btn my-3 my-lg-0">CSS</span>
                    <span class="bg-secondary text-white btn my-3 my-lg-0">Bootstrap</span>
                    <span class="bg-secondary text-white btn my-3">Javascript</span>
                    <span class="bg-secondary text-white btn my-3">Git / Github</span>

                    <h2 class="mt-3">Education</h2>
                    <h5>Electronic and Electrical Engineering</h5>
                    <h6>Obafemi Awolowo University ile-ife</h6>
                    <span>15/2015 - 06/2020</span>

                    <h2 class="my-3">Languages</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>English</h5>
                            <span>Full Professional Proficiency</span>
                        </div>

                        <div class="col-md-6 mt-3 mt-md-0">
                            <h5>Yoruba</h5>
                            <span>Full Professional Proficiency</span>
                        </div>
                    </div>
                    
                    <h2 class="my-3">Interests</h2>
                    <span class="bg-secondary text-white btn">Politics</span>
                    <span class="bg-secondary text-white btn">Football</span>
                    <span class="bg-secondary text-white btn">Reading</span>

                    <form action="{% url 'message' %}" class="my-5" method="POST">
                        {% csrf_token %}
                        <h3 class="text-center text-dark py-2 mb-3">Leave Message</h3>
                        <hr>
                        <div class="form-group">
                            <div class="form-label">From</div>
                            <input type="text" class="form-control" name="sender">
                        </div>

                        <div class="form-group mt-4">
                            <div class="form-label">Message</div>
                            <textarea  id="" rows="5" class="form-control" name="message_recieved"></textarea>
                        </div>
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn btn-secondary" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    
</body>
</html>